html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 3rem;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(var(--gradient-violet),
      var(--gradient-blue));
}

.card {
  background: #fff;
  border-radius: 2rem;
  max-width: 56rem;
}


.card__image img {
  width: 100%;
  height: auto;
  max-width: 25rem;
}

.card__text {}


@media (min-width: 56em) {

  /*900px*/
  .card {
    position: relative;
    display: flex;
    margin: 6rem auto;
    /*padding-right: 2rem; ?? added to card__image... both??*/
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: -13% center;
  }

  .card__box {
    display: block;
    position: absolute;
    top: 57%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  .card__image,
  .card__text {
    flex: 1;
  }

  .card__image {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card__image img {
    transform: translateX(-4rem);
  }
}